@btn-width: 37%;
@btn-margin: 2%;

.body {
  margin: 12% 8% 0 8%;
  overflow: hidden;

  h2 {
    margin-top: 5%;
    text-align: center;
  }
  
  h5 {
    margin: 10px 0 8% 0;
    text-align: center;

  }
  
  div {
    display: flex;
    button {
      margin: @btn-margin;
      width: @btn-width;
      height: 100px;
      font-size: 11pt;
    }
  }
}