<link rel="stylesheet" href="{{ url_for('static', filename='css/dist/abnormal.css') }}">
<script src="{{ url_for('static', filename='js/abnormal.js') }}"></script>

{% include 'header.html' %}

<div class='content-body'>
    <h3>이상발생 보고서</h3>

    {% include 'combo.html' %}
    
    <div id="contents">
        <table>
            <tr>
                <td colspan='2' class='center'>JET FAN 이상발생 보고서 관리</td>
            </tr>
            <tr>
                <td class='center'>터널명</td>
                <td id='tunnel_name'></td>
            </tr>
            <tr>
                <td class='center'>점검일자</td>
                <td></td>
            </tr>

            <tr><th colspan=2 class='center'>이상소견 내용</th></tr>
            <tr><td colspan=2 id='error'><textarea class="content"></textarea></td></tr>
            

            <tr><th colspan=2 class='center'>현장 점검에 따른 소견</th></tr>
            <tr><td colspan=2 id='chk'><textarea class="content"></textarea></td></tr>


            <tr><th colspan=2 class='center'>참고사진</th></tr>
            <tr>
                <td colspan=2 id='photo'>
                    <input class='refInput'>
                    <button class='delBtn' type='button'>삭제</button>
                    <img class='refImg' src="http://via.placeholder.com/300x100" alt="reference_image">
                    <hr>
                </td>
            </tr>

            <tr>
                <td colspan=2 id='comment'>
                    <select></select>
                    <input type="text" id='commentText' class='refImg' placeholder="사진에 들어갈 코멘트">
                    <button type='button' id='addBtn'>추가</button>
                    <img class='refImg' src="http://via.placeholder.com/300x100" alt="reference_image">
                </td>
            </tr>
        </table>

        <button id='submitBtn' type='button'>입력</button>
    </div>
</div>

{% include 'footer.html' %}