<link rel="stylesheet" href="{{ url_for('static', filename='css/dist/basic.css') }}">
<script type='text/javascript' src="{{ url_for('static', filename='js/basic.js') }}"></script>

{% include 'header.html' %}

<div class='content-body'>
    <div id='title-text'>
        <img src="./img/title-ic.png" alt="">
        <span>제트팬 데이터생성 관리</span>
    </div>

    <div id='basic-data'>
        <div class="tab">
            <button class="tablinks active" onclick="openOption(event, 'division')" data-div='division'>본부</button>
            <button class="tablinks" onclick="openOption(event, 'tunnel')" data-div='tunnel'>터널</button>
        </div>

        <div id="division" class="tabcontent" style='display: block;'>
            <div>
                <div class='item'>
                    <div>연도</div>
                    <select name="year" class="year" data-div='eval_year'>
                        {% for year in years %}
                        <option>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class='item'>
                    <div>본부</div>
                    <select id='div_depts'>
                        {% for dept in depts['data'] %}
                        <option value="{{ dept['div_code'] }}">{{ dept['div_name'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class='item'>
                    <div>점검자</div>
                    <div class='emp'>{{ emp }}</div>
                </div>
            </div>
        </div>
        
        <div id="tunnel" class="tabcontent">
            <div>
                <div class='item'>
                    <div>연도</div>
                    <select name="year" class="year" data-div='eval_year'>
                        {% for year in years %}
                        <option>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class='item'>
                    <div>본부</div>
                    <select id='depts' onchange='setBranch()'>
                        {% for dept in depts['data'] %}
                        <option value="{{ dept['div_code'] }}">{{ dept['div_name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class='item'>
                    <div>지사</div>
                    <select id='branch' onchange='setTunnel()'>
                        {% for bran in brans['data'] %}
                        <option value="{{ bran['bran_code'] }}">{{ bran['bran_name'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class='item'>
                    <div>터널</div>
                    <select id='tunns'>
                        {% for tunn in tunns['data'] %}
                        {% if(tunn['tunn_name'] == '수리') %}
                        <option value="{{ tunn['tunn_code'] }}" selected>{{ tunn['tunn_name'] }}</option>
                        {% else %}
                        <option value="{{ tunn['tunn_code'] }}">{{ tunn['tunn_name'] }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>

                <div class='item'>
                    <div>점검자</div>
                    <div class='emp'>{{ emp }}</div>
                </div>

            </div>
        </div>
    </div>  
    
    <button id='submitBtn' type='button'>생성</button>
</div>

{% include 'footer.html' %}