<link rel="stylesheet" href="{{ url_for('static', filename='css/dist/basic.css') }}">
<script src="{{ url_for('static', filename='js/basic.js') }}"></script>

{% include 'header.html' %}

<div class='content-body'>
    <div id='title-text'>
        <img src="./img/title-ic.png" alt="">
        <span>제트팬 데이터생성 관리</span>
    </div>

    <div id='basic-data'>
        <div class="tab">
            <button class="tablinks active" onclick="openOption(event, 'division')">본부</button>
            <button class="tablinks" onclick="openOption(event, 'tunnel')">터널</button>
        </div>

        <div id="division" class="tabcontent" style='display: block;'>
            <div>
                <div class='item'>
                    <div>본부</div>
                    <select>
                        <option>수도권본부</option>
                        <option>대전충남본부</option>
                        <option>부산경남본부</option>
                        <option>광주전남본부</option>
                    </select>
                </div>

                <div class='item'>
                    <div>점검자</div>
                    <div>손정화</div>
                </div>
            </div>
        </div>
        
        <div id="tunnel" class="tabcontent">
            <div>
                <div class='item'>
                    <div>본부</div>
                    <select>
                        <option>수도권본부</option>
                        <option>대전충남본부</option>
                        <option>부산경남본부</option>
                        <option>광주전남본부</option>
                    </select>
                </div>
                
                <div class='item'>
                    <div>지사</div>
                    <select>
                        <option>지사선택</option>
                    </select>
                </div>

                <div class='item'>
                    <div>터널</div>
                    <select>
                        <option>터널선택</option>
                    </select>
                </div>

                <div class='item'>
                    <div>점검자</div>
                    <div>손정화</div>
                </div>

            </div>
        </div>
    </div>  
    
    <button id='submitBtn' type='button'>생성</button>
</div>

{% include 'footer.html' %}