<link rel="stylesheet" href="{{ url_for('static', filename='css/dist/combo.css') }}">
<script defer src="{{ url_for('static', filename='js/combo.js') }}"></script>

<div id='body-header'>
    <table>
        <tr>
            <td>
                <!-- <select name="year" id="year" data-div='eval_year' onchange='setStatusChk()'> -->
                <select name="year" id="year" data-div='eval_year'>
                    {% for year in years %}
                    <option>{{ year }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select id="update">
                    <option value="0">차수</option>
                    <option value="1" selected >1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </td>
            <td >
                <span id='greenCircle' style='color: green;'><b>○</b></span>
                <span id='redCircle' style='color: red;'><b>○</b></span>
            </td>
            <td>
                <div id='user'>손정화</div>
            </td>
        </tr>
        <tr>
            <td>
                <input id='tunn_search' type="text" placeholder="터널명 입력">
            </td>
            <td>
                <button type='button' id='search' onclick='searchTunnel()'>검색</button>
            </td>
            <td rowspan=3>
                <select size=4 name="tunnel" id="tunnel" onchange='setComboBox("tunnel", "jetfan_no")' data-div='tunnel'>
                </select>
            </td>
            <td rowspan=3>
                <select size=4 name="jetfan_no" id="jetfan_no"  data-div='jetfan_no'>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select name="dept" id="dept" onchange='setComboBox("dept", "branch")'>
                    {% for dept in depts %}
                    <option value="{{ dept['div_code'] }}">
                        {{ dept['div_name'] }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <div class='jetfan_way'>
                    <input type="radio" id='wayOption1' name='way' onchange='getWayOption("wayOption1")'>
                    <label for="wayOption1">방향</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <select name="branch" id="branch" onchange='setComboBox("branch", "tunnel")' data-div='branch'>
                </select>
            </td>
            <td>
                <div class='jetfan_way'>
                    <input type="radio" id='wayOption2' name='way' onchange='getWayOption("wayOption2")'>
                    <label for="wayOption2">방향</label>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan='4'>
                <button type='button' id='select' onclick='getData()'>데이터 조회</button>
            </td>
        </tr>
    </table>
</div>