<link rel="stylesheet" href="{{ url_for('static', filename='css/dist/combo.css') }}">
<script defer src="{{ url_for('static', filename='js/combo.js') }}"></script>

<div id='body-header'>
    <table>

        <tr>
            <td colspan=2>
                <input id='tunn_search' type="text" placeholder="터널명 입력">
            </td>
            <td>
                <button type='button' id='search' onclick='searchTunnel()'>검색</button>
            </td>
        </tr>
        <tr>
            <td>
                <select name="year" id="year" data-div='eval_year'>
                    {% for year in years %}
                    <option>{{ year }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select id="update">
                    <option value="0">차수</option>
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </td>
            <td >
                <span id='greenCircle' style='color: green;'><b>○</b></span>
                <span id='redCircle' style='color: red;'><b>○</b></span>
                <span id='user'>손정화</span>
            </td>
        </tr>
        <tr>
            <td>
                <select name="dept" id="dept" onchange='setBranch()'>
                    {% for dept in depts %}
                    <option value="{{ dept['div_code'] }}">
                        {{ dept['div_name'] }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="branch" id="branch" onchange='setTunnel()'>
                    {% for bran in brans %}
                    <option value="{{ bran['bran_code'] }}">
                        {{ bran['bran_name'] }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="tunnel" id="tunnel" onchange='setJetfan()'>
                    {% for tunn in tunns %}
                        {% if(tunn['tunn_name'] == '수리') %}
                        <option value="{{ tunn['tunn_code'] }}" selected>
                            {{ tunn['tunn_name'] }}
                        </option>
                        {% else %}
                        <option value="{{ tunn['tunn_code'] }}">
                            {{ tunn['tunn_name'] }}
                        </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            
        </tr>
        <tr>
            <td>
                <select name="jetfan_way" id="jetfan_way" onchange='clickWay()'>
                    <option selected>{{ tunns[0]['tunn_way1'] }}</option>
                    <option>{{ tunns[0]['tunn_way2'] }}</option>
                </select>
            </td>

            <td>
                <select name="jetfan_no" id="jetfan_no">
                    {% for jetfan in jetfans %}
                    <option value="{{ jetfan['jetfan_code'] }}">
                        {{ jetfan['jetfan_no'] }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <button type='button' id='select' onclick='getData()'>데이터 조회</button>
            </td>
        </tr>
        
    </table>
</div>