<!DOCTYPE html5>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dist/main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dist/index.css') }}" />
    <link rel="stylesheet" type="image/png" href="{{ url_for('static', filename='img/logo-img-w.png') }}" />
    <link rel="stylesheet" type="image/png" href="{{ url_for('static', filename='img/menu.png') }}" />
    <link rel="stylesheet" type="image/png" href="{{ url_for('static', filename='img/title-ic.png') }}">
    <link rel="stylesheet" type="image/png" href="{{ url_for('static', filename='img/exit.png') }}">
    <link rel="stylesheet" type="image/png" href="{{ url_for('static', filename='img/home.png') }}">
    <link rel="stylesheet" type="image/png" href="{{ url_for('static', filename='img/user.png') }}">
    <script async type='text/javascript' src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src='https://cdn.jsdelivr.net/npm/sweetalert2@9'></script>
    <title>제트팬관리시스템</title>
</head>
<body>
    <header>
        <div id='title'>
            <img id='logo' src="./img/logo-img-w.png">
            <h4 id='header-text'>PRIME | <small><i>JETFAN MANAGEMENT SYSTEM</i></small></h4>
            <img id='menu-ic' src="./img/menu.png" onclick='nav_menu()'>
        </div>

        <div id="mySidenav" class="sidenav">
            <a href="/">메인화면</a>
            <a href="./evaluation">평가표 관리</a>
            <a href="./inspection">안전점검 관리</a>
            <a href="./trace">추적도면 관리</a>
            <a href="./abnormal">이상발생 보고서</a>
            <a href="./photo">사진첩 관리</a>
            <a href="./basic">데이터생성 관리</a>
        </div>
    </header>