    {% include 'header.html' %}

    <div id='bg-box'></div>
    
    <div class='body'>
        <h1>제트팬관리시스템</h1>
        <h4>게스트(guest@gmail.com) 님 안녕하세요.</h4>
        <div id='btn'>
            <button type='button' onclick='location.href="./evaluation"'>평가표 관리</button>
            <button type='button' onclick='location.href="./inspection"'>안전점검 관리</button>
            <button type='button' onclick='location.href="./trace"'>추적도면 관리</button>
            <button type='button' onclick='location.href="./abnormal"'>이상발생 보고서</button>
            <button type='button' onclick='location.href="./photo"'>사진첩 관리</button>
            <button type='button' onclick='location.href="./basic"'>데이터 생성 관리</button>
        </div>
    </div>
    
    {% include "footer.html" %}