<link rel="stylesheet" href="{{ url_for('static', filename='css/dist/inspection.css') }}">
<link rel="stylesheet" type="image/png" href="{{ url_for('static', filename='img/arrow.png') }}">
<script src="{{ url_for('static', filename='js/inspection.js') }}"></script>

{% include 'header.html' %}

<div class='content-body'>
    <div id='title-text'>
        <img src="./img/title-ic.png" alt="">
        <span>제트팬 안전점검 관리</span>
    </div>

    {% include 'combo.html' %}
    
    <div id='contents'>
        <div id="info">
            <table>
                <tr>
                    <th colspan='2'>터널명</th>
                    <td id='tunn_name'><b></b></td>
                </tr>
                <tr>
                    <th rowspan='2'>관리<br>번호</th>
                    <th id='way1'></th>
                    <td id='way1_jetfan'></td>
                </tr>
                <tr>
                    <th id='way2'></th>
                    <td id='way2_jetfan'></td>
                </tr>
                <tr>
                    <th colspan='2'>규격</th>
                    <td id='tunn_spec'></td>
                </tr>
                <tr>
                    <th colspan='2'>업체</th>
                    <td id='ins_company'></td>
                </tr>
                <tr>
                    <th colspan='2'>점검일</th>
                    <td id='ins_ymd'></td>
                </tr>
                <tr>
                    <th colspan='2'>현장대리인</th>
                    <td id='ins_emp'></td>
                </tr>
            </table>
        </div>
        
        <div id='chk'>
            <table>
                <tr>
                    <th colspan='2'>점검내용</th>
                </tr>
                <tr>
                    <th>점검결과</th>
                    <th>비고</th>
                </tr>
            </table>

            <div class='accordion'>설치상태<img src="./img/arrow.png"></div>
            <div class='panel'>
                <table>
                    <tr>
                        <td colspan='2'>Anchor Bolt 조임토크 상태</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_11a'></td>
                        <td><input type="text" id='ins_11b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>Anchor Bolt 부위 Con'c 상태</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_12a'></td>
                        <td><input type="text" id='ins_12b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>Anchor Bracket 상태 (용접. 부식 등)</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_13a'></td>
                        <td><input type="text" id='ins_13b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>Turnbuckle 및 Anchor Bolt Tension 상태</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_14a'></td>
                        <td><input type="text" id='ins_14b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>Turnbuckle 용접부 상태</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_15a'></td>
                        <td><input type="text" id='ins_15b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>Jet - Fan 조립 및 설치 상태</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_16a'></td>
                        <td><input type="text" id='ins_16b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>Casing 전 부위 Bolt & Nut 풀림 상태</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_17a'></td>
                        <td><input type="text" id='ins_17b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>Turnbuckle / Chain 연결지점 이상 여부 및 풀림 상태</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_18a'></td>
                        <td><input type="text" id='ins_18b'></td>
                    </tr>
                </table>
            </div>

            <div class='accordion'>FAN 본체<img src="./img/arrow.png"></div>
            <div class="panel">
                <table>
                    <tr>
                        <td colspan='2'>Fan 내,외부 이물질 (쇳조각, 나뭇가지 등)상태</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_19a'></td>
                        <td><input type="text" id='ins_19b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>Fan 내,외부 과도한 부식 여부</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_20a'></td>
                        <td><input type="text" id='ins_20b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>싸이렌서 내부 흡음제 및 용접부 이상상태</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_21a'></td>
                        <td><input type="text" id='ins_21b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>Blade와 Casing의 간섭 여부</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_22a'></td>
                        <td><input type="text" id='ins_22b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>Fan 내부 Motor 고정용 지지판 변형 여부 및 Nut 상태</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_23a'></td>
                        <td><input type="text" id='ins_23b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>Blade & Hub 상태(고정상태, 변형, 부식, 마모 등)</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_24a'></td>
                        <td><input type="text" id='ins_24b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>Motor외관 및 베어링 부위 누유 및 이상상태</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_25a'></td>
                        <td><input type="text" id='ins_25b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>Fan 명판 등 부착물 부착 상태</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_26a'></td>
                        <td><input type="text" id='ins_26b'></td>
                    </tr>
                </table>
            </div>

            <div class="accordion">운전상태<img src="./img/arrow.png"></div>
            <div class="panel">
                <table>
                    <tr>
                        <td colspan='2'>기동 판넬에서 수동 동작시 이상 유무</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_27a'></td>
                        <td><input type="text" id='ins_27b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>운전시 진동 Check</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_28a'></td>
                        <td><input type="text" id='ins_28b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>기동시 이상소음 여부</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_29a'></td>
                        <td><input type="text" id='ins_29b'></td>
                    </tr>
                    <tr>
                        <td colspan='2'>기동시 전류, 전압측정 및 기록</td>
                    </tr>
                    <tr>
                        <td><input type="text" id='ins_30a'></td>
                        <td><input type="text" id='ins_30b'></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="etc">
            <table>
                <tr><th>기타</th></tr>
                <tr><td><textarea type="text" id='ins_etc1' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea type="text" id='ins_etc2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea type="text" id='ins_etc3' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea type="text" id='ins_etc4' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea type="text" id='ins_etc5' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
            </table>
        </div>

        <button id='submitBtn' type='button'>입력</button>
    </div>
</div>

{% include 'footer.html' %}