<link rel="stylesheet" href="{{ url_for('static', filename='css/dist/login.css') }}">
<link rel="stylesheet" type="image/png" href="{{ url_for('static', filename='img/email.png') }}">
<link rel="stylesheet" type="image/png" href="{{ url_for('static', filename='img/lock.png') }}">
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

{% include 'header.html' %}

<div id='bg-box'></div>

<div class='content-body'>
    <div id='title-text'>WELCOME TO JETFAN</div>

    <div id='login-box'>
        <div>
            <img src="./img/email.png">
            <input type="email" id='email' placeholder='이메일 입력' value='user@jetfan.com' />
        </div>
        <div>
            <img src="./img/lock.png">
            <input type="password" id='passwd' maxlength="20" placeholder='비밀번호 20자이내 입력' value='1' />
        </div>
        <button id='loginBtn' onclick='login()'>로그인</button>
        <div id='msg'></div>
    </div>

</div>

{% include 'footer.html' %}