<link rel="stylesheet" href="{{ url_for('static', filename='css/dist/abnormal.css') }}">
<link rel="stylesheet" type="image/png" href="{{ url_for('static', filename='img/plus.png') }}">
<link rel="stylesheet" type="image/png" href="{{ url_for('static', filename='img/minus.png') }}">
<script src="{{ url_for('static', filename='js/photo.js') }}"></script>

{% include 'header.html' %}

<div class='content-body'>
    <div id='title-text'>
        <img src="./img/title-ic.png" alt="">
        <span>사진첩 관리</span>
    </div>

    {% include 'combo.html' %}

    <div id="contents">
        <table>
            <tr>
                <td colspan='2' class='center'>JETFAN 사진첩 관리</td>
            </tr>
            <tr>
                <th class='center'>터널명</th>
                <td id='tunnel_name'></td>
            </tr>
            <tr>
                <th class='center'>점검일자</th>
                <td id='tunn_ymd'></td>
            </tr>

            <tr>
                <th colspan='2' class='center'>참고사진</th>
            </tr>
            <tr>
                <td colspan='2' id='photo'>
                    <input class='refInput'>
                    <img class='delBtn' src='./img/minus.png'>
                    <img class='refImg' src="http://via.placeholder.com/300x100" alt="reference_image">
                    <hr>
                </td>
            </tr>


            <tr>
                <td colspan=2 id='comment'>
                    <select id='way' onchange='getJetfan()'></select>
                    <select id="jetfan"></select>
                    <input type="file" id="myFile" name="filename">
                    <input type="text" id='commentText' class='refImg' placeholder="사진에 들어갈 코멘트">
                    <img id='addBtn' src='./img/plus.png'>
                    <img id='previewImg' class='refImg' src="http://via.placeholder.com/300x100" alt="reference_image">
                </td>
            </tr>
        </table>
        
        <button id='submitBtn' type='button'>입력</button>
    </div>
</div>

{% include 'footer.html' %}