<link rel="stylesheet" href="{{ url_for('static', filename='css/dist/trace.css') }}">

{% include 'header.html' %}
    
<div class="content-body">
    <h3>JetFan 추적도면 관리</h3>

    <div id='body-header'>
        <div>
            <select name="dept" id="dept" onchange='setOptionBox("dept", "branch")'>
                <option value="0">본부</option>
                {% for dept in depts %}
                <option value="{{ dept['div_code'] }}">
                    {{ dept['div_name'] }}
                </option>
                {% endfor %}
            </select>
            <select name="branch" id="branch" onchange='setOptionBox("branch", "tunnel")' data-div='branch'>
                <option value="0">지사</option>
            </select>
            <select name="tunnel" id="tunnel" onchange='setOptionBox("tunnel", "jetfan_way")' data-div='tunnel'>
                <option value="0">터널</option>
            </select>
        </div>

        <div>
            <select name="jetfan_way" id="jetfan_way" onchange='setOptionBox("tunnel", "jetfan_lane")' data-div='jetfan_way'>
                <option value="0">방향</option>
            </select>
            <select name="jetfan_lane" id="jetfan_lane" data-div='jetfan_lane' onchange='setOptionBox("tunnel", "jetfan_no")'>
                <option value="0">차선</option>
            </select>
            <select name="jetfan_no" id="jetfan_no" data-div='jetfan_no' onchange='setOptionBox("jetfan_no", "year")'>
                <option value="0">제트팬</option>
            </select>
        </div>
        <div>
            <select name="year" id="year" data-div='eval_year'>
                <option value="0">연도</option>
            </select>
        </div>
    </div>

    <div id="contents">
        <div id="history">
            <table>
                <tr>
                    <td colspan='4' class='table-header'>시설이력</td>
                </tr>
                <tr>
                    <td class='table-title'>터널명</td>
                    <td id='tunn_name'></td>
                    <td class='table-title'>방향</td>
                    <td id='way'></td>
                </tr>
                <tr>
                    <td class='table-title'>차선</td>
                    <td id='lane'></td>
                    <td class='table-title'>관리번호</td>
                    <td id='jetfan_name'></td>
                </tr>
                <tr>
                    <td colspan='1' class='table-title'>제조사</td>
                    <td colspan='3' id='jetfan_maker'></td>
                </tr>
                <tr>
                    <td colspan='1' class='table-title'>점검자</td>
                    <td colspan='3'>손정화(개인)</td>
                </tr>
                <tr>
                    <td colspan='1' class='table-title'>점검일자</td>
                    <td colspan='3'>2019.06.24</td>
                </tr>
            </table>

            <div id='planImg'>
                <img src="http://via.placeholder.com/100x100" alt="planning_image">
            </div>
        </div>

        <div id="operationChk">
            <table>
                <tr>
                    <td colspan='5' class='table-header'>운전점검</td>
                </tr>
                <tr>
                    <td rowspan='5' colspan='1' class='table-title'>진동<br>(K.S 기준 6mm/sec이하)</td>
                    <td colspan='4' class='table-title'>턴버클 & FAN 안정판 체결부위<br>(대당 2Point)</td>
                </tr>
                <tr>
                    <td rowspan='2' class='table-title'>구분</td>
                    <td class='table-title'>Vertical</td>
                    <td class='table-title'>Horizontal</td>
                    <td class='table-title'>Axial</td>
                </tr>
                <tr>
                    <td class='table-title'>수직방향</td>
                    <td class='table-title'>수평방향</td>
                    <td class='table-title'>축방향</td>
                </tr>
                <tr>
                    <td class='table-title'>①</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class='table-title'>②</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class='table-title'>운전 전류</td>
                    <td class='table-title'>구분</td>
                    <td class='table-title'>R</td>
                    <td class='table-title'>S</td>
                    <td class='table-title'>T</td>
                </tr>
                <tr>
                    <td class='table-title'>(A)</td>
                    <td class='table-title'>측정값</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan='2' class='table-title'>전압(V)</td>
                    <td colspan='3'></td>
                </tr>

            </table>
        </div>

        <div id="curStatusChk">
            <table>
                <tr>
                    <td class='table-header'>현상태점검현황</td>
                </tr>
                <!-- <tr><td>- <input type="text" name="" id="" maxlength="40"></td></tr> -->
                <!-- <tr><td>- <input type="text" name="" id="" maxlength="40"></td></tr>
                <tr><td>- <input type="text" name="" id="" maxlength="40"></td></tr>
                <tr><td>- <input type="text" name="" id="" maxlength="40"></td></tr>
                <tr><td>- <input type="text" name="" id="" maxlength="40"></td></tr>
                <tr><td>- <input type="text" name="" id="" maxlength="40"></td></tr>
                <tr><td>- <input type="text" name="" id="" maxlength="40"></td></tr>
                <tr><td>- <input type="text" name="" id="" maxlength="40"></td></tr> -->
            </table>
        </div>

        <div id='etc'>
            <table>
                <tr>
                    <td class='table-header'>비고(기능상태 등)</td>
                </tr>
                <tr><td class='table-title'>2019년도</td></tr>
                <!-- <tr><td>1) <input type="text" name="" id="" maxlength="28"></td></tr>
                <tr><td>2) <input type="text" name="" id="" maxlength="28"></td></tr>
                <tr><td>3) <input type="text" name="" id="" maxlength="28"></td></tr>
                <tr><td>4) <input type="text" name="" id="" maxlength="28"></td></tr>
                <tr><td>5) <input type="text" name="" id="" maxlength="28"></td></tr>
                <tr><td>6) <input type="text" name="" id="" maxlength="28"></td></tr> -->

                <tr><td class='table-title'>2018년도</td></tr>
                <tr><td>1)</td></tr>
                <tr><td>2)</td></tr>
                <tr><td>3)</td></tr>
                <tr><td>4)</td></tr>
                <tr><td>5)</td></tr>

                <tr><td class='table-title'>2017년도</td></tr>
                <tr><td>1)</td></tr>
                <tr><td>2)</td></tr>
                <tr><td>3)</td></tr>
                <tr><td>4)</td></tr>
                <tr><td>5)</td></tr>
            </table>
        </div>
    </div>
</div>

{% include 'footer.html' %}
<script>

const setOptionBox = (target, nextTarget) => {
    const opt = document.querySelectorAll(`#${nextTarget} option`);
    if(opt.length > 1) {
        for(let i = opt.length-1; i > 0; i--) {
            opt[i].remove();
        }
    }

    const _target = document.querySelector(`#${target}`);
    const _nextTarget = document.querySelector(`#${nextTarget}`);
    const data = { 'div_code': _target.value, 'div': _nextTarget.dataset.div };
    const xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            let data = this.responseText.slice(1,-1).split(', ');
            console.log('this.responseText :>> ', this.responseText);
            switch(nextTarget) {
                case 'branch':
                    const bran_name = data.filter((elem, i) => i%2===0);
                    const bran_code = data.filter((elem, i) => i%2===1);
        
                    for(let j = 0; j < data.length/2; j++) {
                        let opt = document.createElement('option');
                        document.querySelector(`#${nextTarget}`).appendChild(opt);
                        opt.innerText = bran_name[j].replaceAll("'", "");
                        opt.value = bran_code[j];
                    }
                    break;
                
                case 'tunnel':
                    const tunn_name = data.filter((elem, i) => i%2===0);
                    const tunn_code = data.filter((elem, i) => i%2===1);

                    for(let j = 0; j < data.length/2; j++) {
                        let opt = document.createElement('option');
                        document.querySelector(`#${nextTarget}`).appendChild(opt);
                        opt.innerText = tunn_name[j].replaceAll("'", "");
                        opt.value = tunn_code[j];
                    }
                    break;
                
                case 'jetfan_way':
                    const tunnel_name = document.querySelectorAll('#tunnel option')[document.querySelector('#tunnel').selectedIndex].text;
                    document.querySelector('#tunn_name').innerText = tunnel_name + '터널';
                    
                    const jetfan_way = data.filter((x, i, a) => a.indexOf(x) == i);
                    for(let j = 0; j < jetfan_way.length; j++) {
                        let opt = document.createElement('option');
                        document.querySelector(`#${nextTarget}`).appendChild(opt);
                        opt.innerText = jetfan_way[j].replaceAll("'", "");
                    }
                    break;
                
                case 'jetfan_lane':
                    const way = document.querySelectorAll('#jetfan_way option')[document.querySelector('#jetfan_way').selectedIndex].text;
                    document.querySelector('#way').innerText = way + '방향';
                    
                    const jetfan_lane = data.filter((x, i, a) => a.indexOf(x) == i);
                    for(let j = 0; j < jetfan_lane.length; j++) {
                        let opt = document.createElement('option');
                        document.querySelector(`#${nextTarget}`).appendChild(opt);
                        opt.innerText = jetfan_lane[j].replaceAll("'", "");
                    }
                    break;
                
                case 'jetfan_no':
                    const lane = document.querySelectorAll('#jetfan_lane option')[document.querySelector('#jetfan_lane').selectedIndex].text;
                    document.querySelector('#lane').innerText = lane + '차선';
                    
                    const jetfan_no = data.filter((elem, i) => i%2===0).filter((x, i, a) => a.indexOf(x) == i);
                    const jetfan_code = data.filter((elem, i) => i%2===1);

                    for(let j = 0; j < jetfan_no.length; j++) {
                        let opt = document.createElement('option');
                        document.querySelector(`#${nextTarget}`).appendChild(opt);
                        opt.innerText = jetfan_no[j].replaceAll("'", "");
                        opt.value = jetfan_code[j];
                    }
                    break;

                case 'year':
                    const jetfan_name = document.querySelectorAll('#jetfan_no option')[document.querySelector('#jetfan_no').selectedIndex].text;
                    document.querySelector('#jetfan_name').innerText = jetfan_name;

                    const eval_year = data.filter((x, i, a) => a.indexOf(x) == i);
                    for(let j = 0; j < eval_year.length; j++) {
                        let opt = document.createElement('option');
                        document.querySelector(`#${nextTarget}`).appendChild(opt);
                        opt.innerText = eval_year[j].replaceAll("'", "");
                    }
                    break;
                
            }
        }
    };

    xhttp.open("POST", "/trace", true);
    xhttp.setRequestHeader('Content-Type', 'application/json');
    xhttp.send(JSON.stringify(data));
}



const setJetfanWay = () => {
    const jetfan_way = document.querySelector('#select_jetfan_way').value;
    document.querySelector('#jetfan_way').innerText = jetfan_way;
}

</script>