<link rel="stylesheet" href="{{ url_for('static', filename='css/dist/trace.css') }}">
<script defer src="{{ url_for('static', filename='js/trace.js') }}"></script>

{% include 'header.html' %}

<div class="content-body">
    <h3>JetFan 추적도면 관리</h3>
    
    {% include 'combo.html' %}

    <div id="contents">
        <div id="history">
            <table>
                <tr>
                    <td colspan='4' class='table-header'>시설이력</td>
                </tr>
                <tr>
                    <td class='table-title'>터널명</td>
                    <td id='tunn_name'></td>
                    <td class='table-title'>방향</td>
                    <td id='way'></td>
                </tr>
                <tr>
                    <td class='table-title'>차선</td>
                    <td id='lane'></td>
                    <td class='table-title'>관리번호</td>
                    <td id='jetfan_name'></td>
                </tr>
                <tr>
                    <td colspan='1' class='table-title'>제조사</td>
                    <td colspan='3' id='jetfan_maker'></td>
                </tr>
                <tr>
                    <td colspan='1' class='table-title'>점검자</td>
                    <td colspan='3' id='eval_emp'></td>
                </tr>
                <tr>
                    <td colspan='1' class='table-title'>점검일자</td>
                    <td colspan='3' id='eval_ymd'></td>
                </tr>
            </table>

            <div id='planImg'>
                <img src="http://via.placeholder.com/100x100" alt="planning_image">
            </div>
        </div>

        <div id="operationChk">
            <table>
                <tr>
                    <td colspan='5' class='table-header'>운전점검</td>
                </tr>
                <tr>
                    <td rowspan='5' colspan='1' class='table-title'>진동</td>
                    <td colspan='4' class='table-title'>턴버클 & FAN 안정판 체결부위</td>
                </tr>
                <tr>
                    <td rowspan='2' class='table-title'>구분</td>
                    <td class='table-title'>V</td>
                    <td class='table-title'>H</td>
                    <td class='table-title'>A</td>
                </tr>
                <tr>
                    <td class='table-title'>수직</td>
                    <td class='table-title'>수평</td>
                    <td class='table-title'>축</td>
                </tr>
                <tr>
                    <td class='table-title'>①</td>
                    <td class='center' id='eval_vibrate_y_1'></td>
                    <td class='center' id='eval_vibrate_x_1'></td>
                    <td class='center' id='eval_vibrate_z_1'></td>
                </tr>
                <tr>
                    <td class='table-title'>②</td>
                    <td class='center' id='eval_vibrate_y_2'></td>
                    <td class='center' id='eval_vibrate_x_2'></td>
                    <td class='center' id='eval_vibrate_z_2'></td>
                </tr>
                <tr>
                    <td class='table-title'>운전 전류</td>
                    <td class='table-title'>구분</td>
                    <td class='table-title'>R</td>
                    <td class='table-title'>S</td>
                    <td class='table-title'>T</td>
                </tr>
                <tr>
                    <td class='table-title'>(A)</td>
                    <td class='table-title'>측정값</td>
                    <td class='center' id='eval_amp_r'></td>
                    <td class='center' id='eval_amp_s'></td>
                    <td class='center' id='eval_amp_t'></td>
                </tr>
                <tr>
                    <td colspan='2' class='table-title'>전압(V)</td>
                    <td colspan='3' class='center' id='eval_volt'></td>
                </tr>

            </table>
        </div>

        <div id="curStatusChk" data-div='curStatusChk'>
            <table>
                <tr><th class='table-header'>현상태점검현황</th></tr>
                <tr><td><textarea class="checkReport" type="text" maxlength="40" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea class="checkReport" type="text" maxlength="40" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea class="checkReport" type="text" maxlength="40" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea class="checkReport" type="text" maxlength="40" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea class="checkReport" type="text" maxlength="40" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea class="checkReport" type="text" maxlength="40" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea class="checkReport" type="text" maxlength="40" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea class="checkReport" type="text" maxlength="40" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
            </table>
        </div>

        <div id='etc'>
            <table>
                <tr><td class='table-header'>비고(기능상태 등)</td></tr>
                <tr><td id='curYear' class="table-title">{{ years[0] }}년도</td></tr>
                <tr><td><textarea class="noteCurYear" type="text" maxlength="28" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea class="noteCurYear" type="text" maxlength="28" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea class="noteCurYear" type="text" maxlength="28" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea class="noteCurYear" type="text" maxlength="28" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea class="noteCurYear" type="text" maxlength="28" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea class="noteCurYear" type="text" maxlength="28" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea class="noteCurYear" type="text" maxlength="28" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>
                <tr><td><textarea class="noteCurYear" type="text" maxlength="28" rows='2' oninput="auto_grow(this)" onclick='auto_grow(this)'></textarea></td></tr>

                <tr><td id='oneYearAgo' class="table-title">{{ years[0]-1 }}년도</td></tr>
                <tr><td class='noteOneYearAgo'></td></tr>
                <tr><td class='noteOneYearAgo'></td></tr>
                <tr><td class='noteOneYearAgo'></td></tr>
                <tr><td class='noteOneYearAgo'></td></tr>
                <tr><td class='noteOneYearAgo'></td></tr>
                <tr><td class='noteOneYearAgo'></td></tr>
                <tr><td class='noteOneYearAgo'></td></tr>
                <tr><td class='noteOneYearAgo'></td></tr>
                
                <tr><td id='towYearAgo' class="table-title">{{ years[0]-2 }}년도</td></tr>
                <tr><td class='noteTowYearAgo'></td></tr>
                <tr><td class='noteTowYearAgo'></td></tr>
                <tr><td class='noteTowYearAgo'></td></tr>
                <tr><td class='noteTowYearAgo'></td></tr>
                <tr><td class='noteTowYearAgo'></td></tr>
                <tr><td class='noteTowYearAgo'></td></tr>
                <tr><td class='noteTowYearAgo'></td></tr>
                <tr><td class='noteTowYearAgo'></td></tr>
            </table>
            <button id='inputBtn' type='button'>입력</button>
        </div>
    </div>
</div>

{% include 'footer.html' %}