<link rel="stylesheet" href="{{ url_for('static', filename='css/dist/createData.css') }}">

{% include 'header.html' %}

<div class='content-body'>
    <h4>JetFan 데이터 생성 관리</h4>

    <div id='basic-data'>
        <span>본부</span>
        <select name="" id="">
            <option value="">수도권본부</option>
            <option value="">대전충남본부</option>
            <option value="">부산경남본부</option>
            <option value="">광주전남본부</option>
        </select><br>
        
        <span>지사</span>
        <select name="" id="">
            <option value="">군포</option>
            <option value="">군포</option>
            <option value="">군포</option>
            <option value="">군포</option>
        </select>
        
        <span>점검년도</span>
        <input type="number" name="" id="">
        
        <span>점검일</span>
        <input type="text"> ~ <input type="text">
        
        <span>점검자</span>
        <select name="" id="">
            <option value="">사원1</option>
            <option value="">사원2</option>
            <option value="">사원3</option>
        </select>

        <span>터널</span>
        <div>Lorem ipsum dolor </div>
    </div>
    
    <button type='button'>생성</button>

</div>

{% include 'footer.html' %}