    {% include 'header.html' %}
    
    <div class='body'>
        <h2>제트팬 관리 시스템</h2>
        <h5>게스트(guest@gmail.com) 님 안녕하세요.</h5>
        <div>
            <button type='button' onclick='location.href="./standardEval"'>평가표<br>관리</button>
            <button type='button' onclick='location.href="./safetyChk"'>안전점검<br>관리</button>
            <button type='button' onclick='location.href="./tracePlan"'>추적도면<br>관리</button>
        </div>
        <div>
            <button type='button' onclick='location.href="./errorReport"'>이상발생<br>보고서</button>
            <button type='button' onclick='location.href="./album"'>사진첩<br>관리</button>
            <button type='button' onclick='location.href="./createData"'>데이터 생성<br>관리</button>
        </div>
    </div>
    
    {% include "footer.html" %}