@basic-font: 13pt;
@table-padding: 5px 3px;

#basic-data {
    height: 400px;
    margin-top: 20px;

    #info {
        margin: 0px auto;
        width: 50%;
        padding-top: 135px;
    }

    .tab button {
        background-color: inherit;
        float: left;
        // border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 16px;
        transition: 0.3s;
        font-size: 17px;
        width: 50%;
        border-right: 1px solid lightgrey;    
        border-bottom: 1px solid lightgrey;    
        margin-top: 20px;
    }
    
    .tab button:hover {
        background-color: #fffef9;
    }
    
    .tab button.active {
        background-color: #f7ece6;
    }
    
    .tabcontent {
        display: none;
        padding: 6px 12px;

        & > div {
            margin-top: 110px;
        }
    }

    .item {
        display: flex;
        margin-bottom: 22px;

        div {
            font-size: @basic-font;

            &:first-child {
                width: 27%;
                margin-left: 20px;
            }
        }

        select {
            width: 62%;
            font-size: @basic-font;
        }
    }
}

#submitBtn {
    margin: 0 auto;
    width: 35%;
    font-size: @basic-font;
    display: flex;
    justify-content: center;
}