#body-header {
    // div:first-child:nth-child(2) {
    div:first-child {
        display: flex;
        margin-right: auto;
        margin-left: 2%;

        & > #eval_update {
            display: flex;
            justify-content: left;
            align-items: center;
            margin-left: 23px;
            width: 12%;
        }

        & > span {
            width: 15%;
            height: 20px;
            background: green;
            margin-top: 1%;
        }

        & > #user {
            display: flex;
            justify-content: left;
            align-items: center;
            margin-left: 13px;
            width: 12%;
        }
    }

    div:nth-child(2) {
        display: flex;
        justify-content: center;
    }
    
    div:last-child {
        display: flex;
        justify-content: center;

        & > div {
            display: flex;
            justify-content: left;
            align-items: center;
            width: 28.5%;
            margin: 1%;
            padding-left: 1.5%;
        }
    }

    select {
        width: 30%;
        margin: 1%;
    }
}