@basic-font: 13pt;
@table-padding: 5px 3px;

table {
    border-collapse: collapse;
    tr, td {
        font-size: @basic-font;
        padding: @table-padding;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gap {
    height: 10px !important;
    border-left: none !important;
    border-right: none !important;
}

#contents {

    #info table {
        margin-top: 40px;
        th, td {
            border: 1px solid #000;
            height: 34px;
        }

        th {
            width: 2%;
            color: #1c5180;
            background-color: #f0f0f0;
        }

        td {
            width: 3%;
            text-align: center;
            background-color: #fffef9;
        }
    }

    h3 {
        margin-top: 40px;
        margin-bottom: 10px;
        color: #1c5180;
        text-align: left;
    }

    #operation table {

        th, td {
            border: 1px solid #000;
            width: 1%;
            height: 34px;
        }

        th {
            color: #1c5180;
            background-color: #f0f0f0;
        }

        td {
            background-color: #fffef9;
        }

        tr {
            th:first-child {
                width: 1.2%;
            }

            &:nth-child(n+12):nth-child(-n+15) td {
                padding-right: 3px;
            }

            &:last-child th{
                text-align: center;
            }
        }

        input[type='number'] {
            width: 100%;
            text-align: center;
            font-size: @basic-font;
            background-color: #fffef9;
        }
    }


    #chkAppearance table {

        th {
            width: 2.2%;
            text-align: left;
            color: #1c5180;
        }

        td {
            width: 1%;
            &:last-child {
                width: 0.5%;
                text-align: right;
            }
        }

        select {
            width: 100%;
            font-size: @basic-font;
        }

        tr:last-child th,
        tr:last-child td {
            text-align: center;
            border: 1px solid #000;
        }

        tr:last-child th {
            background-color: #f0f0f0;
        }

        tr:last-child td {
            background-color: #fffef9;
        }
    }


    #useYear table {
        
        th {
            width: 2.2%;
            text-align: left;
            color: #1c5180;
        }
        
        td {
            width: 1%;
            text-align: right;
            &:last-child {
                width: 0.5%;
            }
        }
        
        input[type='number'] {
            width: 100%;
            border: none;
            border-bottom: 1px solid #000;
            font-size: @basic-font;
        }
        
        tr:last-child th,
        tr:last-child td {
            border: 1px solid #000;
            text-align: center;
        }

        tr:last-child th {
            background-color: #f0f0f0;
        }

        tr:last-child td {
            background-color: #fffef9;
        }
    }


    #useEnv table {
        
        th {
            width: 2.2%;
            text-align: left;
            color: #1c5180;
        }
        
        td {
            width: 1%;
            text-align: right;
            &:last-child {
                width: 0.5%;
            }
        }
        
        select {
            width: 100%;
            text-align: right;
            font-size: @basic-font;
        }
        
        tr:last-child th,
        tr:last-child td {
            border: 1px solid #000;
            text-align: center;
        }

        tr:last-child th {
            background-color: #f0f0f0;
        }

        tr:last-child td {
            background-color: #fffef9;
        }
    }
} 

#body-footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
    
    table {
        margin-bottom: 5%;

        th, td {
            border: 1px solid #000;
        }

        th {
            width: 6%;
            color: #1c5180;
            background-color: #f0f0f0;
        }
        td {
            width: 1%;
            background-color: #fffef9;
        }
    }

    button {
        margin: 0 auto;
        width: 35%;
        font-size: @basic-font;
    }
}