@basic-font: 13pt;
@table-padding: 5px 3px;

* {
    font-size: @basic-font;
}


#contents {
    margin-bottom: 20%;
    
    table {
        border-collapse: collapse;
        width: 100%;
        th, td {
            border: 1px solid #000;
            padding: @table-padding;
        }
    }

    #info {
        margin-bottom: 10px;
        table {
            th {
                width: 13%;
                padding: @table-padding;
                background-color: #f0f0f0;
            }
            td {
                width: 60%;
                padding: @table-padding;
            }
        }
    } 
    
    #chk {
        margin-bottom: 10px;
        table {
            th, td {
                padding: @table-padding;
            }

            th {
                background-color: lightgrey;
            }

            tr:nth-child(2n+1) {
                td {
                    background-color: #f0f0f0;
                }
            }

            td {
                text-align: center;
                
                &:first-child {
                    width: 27%;
                    input[type='text'] {
                        text-align: center;
                    }
                }
                
                &:last-child {
                    width: 67%;
                    input[type='text'] {
                        text-align: left;
                    }
                }

                input[type='text'] {
                    width: 100%;
                }
            }
        }
    } 

        
    #etc table {
        th, td {
            padding: @table-padding;
        }
        th {
            background-color: lightgrey;
        }

        input[type='text'] {
            width: 100%;
        }
    }

    button#submitBtn {
        display: flex;
        font-size: @basic-font;
        padding: @table-padding;
        justify-content: center;
        margin: 20px auto 20% auto;
        width: 35%;
    }
}

.accordion {
    font-weight: bold;
    background-color: #f5f4ed;
    cursor: pointer;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    transition: 0.4s;
    padding: @table-padding;

    span {
        float: right;
        padding-right: 2%;
    }

    &:active {
        background-color: lightsteelblue;
    }
}
  
.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}